-- XAMPP / MariaDB kompatibilis verzió

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";

DROP DATABASE IF EXISTS `Budget_buddy`;
CREATE DATABASE IF NOT EXISTS `Budget_buddy`
  DEFAULT CHARACTER SET utf8mb4
  COLLATE utf8mb4_general_ci;

USE `Budget_buddy`;

SET FOREIGN_KEY_CHECKS = 0;

DROP TABLE IF EXISTS `Cel`;
DROP TABLE IF EXISTS `Tranzakcio`;
DROP TABLE IF EXISTS `Felhasznalo`;
DROP TABLE IF EXISTS `Kategoria`;
DROP TABLE IF EXISTS `Szerepkor`;

CREATE TABLE `Szerepkor` (
  `szerepkor_id` int NOT NULL AUTO_INCREMENT,
  `szerepkor_nev` varchar(50) NOT NULL,
  PRIMARY KEY (`szerepkor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

CREATE TABLE `Felhasznalo` (
  `felhasznalo_id` int NOT NULL AUTO_INCREMENT,
  `nev` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `jelszo` varchar(255) NOT NULL,
  `szerepkor_id` int NOT NULL,
  PRIMARY KEY (`felhasznalo_id`),
  UNIQUE KEY `email` (`email`),
  KEY `szerepkor_id` (`szerepkor_id`),
  CONSTRAINT `Felhasznalo_ibfk_1`
    FOREIGN KEY (`szerepkor_id`) REFERENCES `Szerepkor` (`szerepkor_id`)
    ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

CREATE TABLE `Kategoria` (
  `kategoria_id` int NOT NULL AUTO_INCREMENT,
  `kategoria_nev` varchar(100) NOT NULL,
  `tipus` enum('bevetel','kiadas') NOT NULL,
  PRIMARY KEY (`kategoria_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

CREATE TABLE `Cel` (
  `cel_id` int NOT NULL AUTO_INCREMENT,
  `felhasznalo_id` int NOT NULL,
  `nev` varchar(100) NOT NULL,
  `osszeg_cel` int NOT NULL,
  `aktualis_osszeg` int DEFAULT 0,
  `hatarido` date DEFAULT NULL,
  PRIMARY KEY (`cel_id`),
  KEY `felhasznalo_id` (`felhasznalo_id`),
  CONSTRAINT `Cel_ibfk_1`
    FOREIGN KEY (`felhasznalo_id`) REFERENCES `Felhasznalo` (`felhasznalo_id`)
    ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

CREATE TABLE `Tranzakcio` (
  `tranzakcio_id` int NOT NULL AUTO_INCREMENT,
  `felhasznalo_id` int NOT NULL,
  `kategoria_id` int NOT NULL,
  `osszeg` int NOT NULL,
  `datum` date NOT NULL,
  `tipus` enum('bevetel','kiadas') NOT NULL,
  PRIMARY KEY (`tranzakcio_id`),
  KEY `felhasznalo_id` (`felhasznalo_id`),
  KEY `kategoria_id` (`kategoria_id`),
  CONSTRAINT `Tranzakcio_ibfk_1`
    FOREIGN KEY (`felhasznalo_id`) REFERENCES `Felhasznalo` (`felhasznalo_id`)
    ON DELETE CASCADE,
  CONSTRAINT `Tranzakcio_ibfk_2`
    FOREIGN KEY (`kategoria_id`) REFERENCES `Kategoria` (`kategoria_id`)
    ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;

INSERT INTO `Szerepkor` (`szerepkor_id`, `szerepkor_nev`) VALUES
(1,'user'),
(2,'admin');


INSERT INTO `Kategoria` (`kategoria_id`, `kategoria_nev`, `tipus`) VALUES
(1,'Fizetés','bevetel'),
(2,'Ajándék','bevetel'),
(3,'Étel','kiadas'),
(4,'Lakbér','kiadas'),
(5,'Szórakozás','kiadas'),
(6,'Teszt kategoria','kiadas'),
(7,'as2422','kiadas');

INSERT INTO `Cel` (`cel_id`, `felhasznalo_id`, `nev`, `osszeg_cel`, `aktualis_osszeg`, `hatarido`) VALUES
(1,12,'Nyaralás',300000,80000,'2025-06-01'),
(2,12,'Laptop vásárlás',500000,150000,'2025-09-01');


DELIMITER $$

DROP FUNCTION IF EXISTS `pwd_encrypt`$$
CREATE FUNCTION `pwd_encrypt`(pwd VARCHAR(255))
RETURNS VARCHAR(255)
DETERMINISTIC
RETURN SHA2(CONCAT(pwd,'sozas'),256)$$

DROP FUNCTION IF EXISTS `login`$$
CREATE FUNCTION `login`(email_in VARCHAR(100), pwd_in VARCHAR(100))
RETURNS INT
DETERMINISTIC
BEGIN
    DECLARE ok INT DEFAULT 0;

    SELECT felhasznalo_id INTO ok
    FROM Felhasznalo
    WHERE Felhasznalo.email = email_in
      AND Felhasznalo.jelszo = pwd_encrypt(pwd_in)
    LIMIT 1;

    RETURN ok;
END$$

DROP TRIGGER IF EXISTS `insert_user`$$
CREATE TRIGGER `insert_user`
BEFORE INSERT ON `Felhasznalo`
FOR EACH ROW
BEGIN
    SET NEW.jelszo = pwd_encrypt(NEW.jelszo);
END$$

DELIMITER ;

SET FOREIGN_KEY_CHECKS = 1;