/* NAV BAR ALAP */
ul {
    list-style: none;
    margin: 0;
    padding: 0 40px;
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #d8c6ad;
    border-bottom: 3px solid #000;
}

/* LISTA ELEMEK */
li {
    display: flex;
    align-items: center;
}

/* ALAP LINK */
.nav-link {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: 600;
    margin: 0 25px;
    padding: 12px 20px;
    border-radius: 12px;
}



/* AKTÍV (KATTINTOTT / AKTUÁLIS OLDAL) */
.active {
    background-color: rgba(52, 118, 164, 0.5);;
}

/* LOGO */
li img {
    height: 85px;
    cursor: pointer;
}

/* HOME ICON */
li a img {
    height: 65px;
}

/* EXIT ICON KISEBB */
.exit {
    height: 40px;
}
