
.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 542px;
  height: 572px;
  padding-bottom: 30px;
  background-color: #D2B085;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  text-align: center;
}


.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.back-arrow{
    width: 42px;
    height: 42px;
}


.user-icon {
  width: 105px;
  height: 105px;
}


.back-btn {
  width: 60px;
  height: 58px;
  border: none;
  background-color: #0084FF;
  border-radius: 100%;
  font-size: 22px;
  margin-left: 440px;
}

.back-btn:hover{
    scale: 102%;
}


.login-content {
  padding: 10px 40px;
}

.input {
  width: 100%;
  padding: 16px;
  background-color: #1F82DB;
  border: none;
  border-radius: 8px;
  margin-top: 30px;
  color: white;
  font-size: 16px;
}

.input::placeholder {
  color: #d5e7ff;
}


.login-button {
  width: 100%;
  padding: 14px;
  background-color: #0084FF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  margin-top: 60px;
}

.login-button:hover{
    scale: 102%;
}


.no-account {
  margin-top: 15px;
  font-size: 16px;
  text-decoration: underline;
  color: #3a2c24;
  cursor: pointer;
}

.no-account:hover{
    scale: 110%;
}