/* fejléc*/

#fooladl_logo{
  width: 201px;
  height: 134px;
}

/* HEADER */
.fooldal_fejlec_div {
  display: flex;
  justify-content: space-between;   /* BAL LOGÓ – JOBB GOMBOK */
  align-items: center;
  padding: 10px 20px;
  border-bottom: 6px solid #4B5865;
  width: 100%;
  height: 80%;
}

/* GOMBOK WRAPPER */
.fejlec_gombok {
  display: flex;
  gap: 15px;     /* Távolság a gombok között */
}

/* ALAP GOMB */
.fooldal_gomb {
  display: flex;
  align-items: center;
  gap: 6px;             /* Ikon és szöveg közti távolság */
  background-color: #226EA4;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

/* GOMB IKONOK */
.fooldal_gomb img {
  width: 18px;
  height: 18px;
}

/* HOVER */
.fooldal_gomb:hover {
  background-color: #135a85;
}

#bejelentkezes{
  background-color: #0F74C5;
  color: black;
}

/* ----- HERO TELJES DOBOZ ----- */
#tartalom_felso {
  background-color: #0F74C5;
  padding: 40px;
  margin: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

/* ----- BAL OLDALI SZÖVEG ----- */
#tartalom_felso h1 {
  color: #000;
  font-size: 50px;
  max-width: 420px;
  line-height: 1.2;
  font-weight: 700;
  margin-left: 10%;
}

/* ----- JOBB OLDALI KÉP ----- */
.hero_kep {
  width: 2000px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);

}

/* ----- LAPOZÓ GOMB ----- */
#next_button {
  background-color: #1A76C9;
  border: none;
  border-radius: 10px;
  padding: 12px 14px;

  /* kép mellé helyezés */
  margin-left: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  transition: 0.2s;
}

#next_button:hover {
  background-color: #0E5AA1;
}

/* ----- LAPOZÓ GOMB IKON ----- */
.next_button_img {
  width: 28px;   /* pontos Figma méretarány */
  height: 28px;
}






/* tartalom*/
#boxes{
  display: flex;
  gap: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 100px;
}

h3{
  padding-top: 50px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 30px;
  
}
p{
  text-align: center;
  font-size: larger;
  padding: 50px;
}


.box{
  border: none;
  border-radius: 15px;
  background-color: #0F74C5;
}

h2{
  padding-top: 150px;
  text-align: center;
}

h1{
  font-size: 50px;
}

#middle-box{
  border: none;
  border-radius: 15px;
  background-color: #226EA4;
  color: white;
}
h2{
  margin-bottom: 30px;
  font-size: 40px;
}